.Navigation {
    background-color: rgb(221, 50, 50);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    font-weight: bold;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: black;
  }