div.scoreboard { 
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    border: 5px solid black;
    text-align: center;
}

div.visitor {
    float: left;
    width: 30%;
    border: 5px solid black;
}

div.game-details {
    margin: 0 auto;
    /*position: relative;*/
    width: 20%;
    display: inline-block;
}

div.home {
    float: right;
    width: 30%;
    border: 5px solid black;
}

div.visitor img {
    width: 100px;
}

div.home img {
    width: 100px;
}